[submodule "mcf/themes/congo"]
	path = mcf/themes/congo
	url = git@github.com:jpanther/congo.git
[submodule "tclb/themes/hugo-creative-portfolio-theme"]
	path = tclb/themes/hugo-creative-portfolio-theme
	url = https://github.com/llaniewski/hugo-creative-portfolio-theme
